IoT part/flow.json
[
    {
        "id": "2baa905cdc3d49cf",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e646b5919a5caf62",
        "type": "mqtt in",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "topic": "sleep1",
        "qos": "0",
        "datatype": "auto",
        "broker": "9e66cfaefa0941da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "4b0da7fd1d7be369",
                "98f0a19b0d094817"
            ]
        ]
    },
    {
        "id": "98f0a19b0d094817",
        "type": "debug",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "1875239de30194ee",
        "type": "twilio out",
        "z": "2baa905cdc3d49cf",
        "twilio": "4de88f1cf7151187",
        "twilioType": "sms",
        "url": "",
        "number": "+94769991391",
        "name": "",
        "x": 1090,
        "y": 340,
        "wires": []
    },
    {
        "id": "c9f6ecb7d920439d",
        "type": "inject",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "78d2babab3d9a606"
            ]
        ]
    },
    {
        "id": "78d2babab3d9a606",
        "type": "function",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "func": "msg.payload=\"EMERGENCY call 0769988666\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "1875239de30194ee",
                "aa7bbdc7c1c3db5a"
            ]
        ]
    },
    {
        "id": "4b0da7fd1d7be369",
        "type": "function",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "func": "msg.payload=\"EMERGENCY(sleep warning from ur family member) call 0769988666\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "1875239de30194ee",
                "0e535275a01cc723"
            ]
        ]
    },
    {
        "id": "aa7bbdc7c1c3db5a",
        "type": "debug",
        "z": "2baa905cdc3d49cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "0e535275a01cc723",
        "type": "e-mail",
        "z": "2baa905cdc3d49cf",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "thenuwaratharindu325@gmail.com",
        "dname": "",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e66cfaefa0941da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4de88f1cf7151187",
        "type": "twilio-api",
        "name": "",
        "sid": "AC99b7c050aee7a4bbb9dddbea51ba9a9c",
        "from": "+19804145492"
    }
]